@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300;400&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body{
    width: 100%;
    background-color: #001721;
    overflow-x: hidden;
}

.flex-r {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.flex-c {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 100%;
    padding: 10px 10px;
    background-color: #001721;
    color: #fff;
}

nav {
    justify-content: space-between !important;
    width: 100%;
    height: 10vh;
    position: relative;
}

.nav-logo {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 19px;
}

.ham{
    background: url();
    width: 25px;
    height: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.ham.active {
    background: url();
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
}

.menu {
    position : absolute;
    top: 10vh;
    border-radius: 10px;
    right: auto;
    width: 90%;
    height:79vh;
    padding: 30px;
    background-color: #fff;
    gap: 15px 0px;
    transform: translateX(120%);
    opacity: 0;
    transition: all 0.3s cubic-bezeier(1, -0.01, 0, 1.36);
}

.menu.on{
    opacity:1;
    transform: translateX(0%);
}

.menu a{
    text-decoration: none;
    color:#001721;
    font-size: 35px;
    transition: all 0.2s linear;
}

