@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300;400&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body{
    width: 100%;
    background-color: #001721;
    overflow-x: hidden;
}

.flex-r {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.flex-c {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 100%;
    padding: 10px 10px;
    background-color: #001721;
    color: #fff;
}

nav {
    justify-content: space-between !important;
    width: 100%;
    height: 10vh;
    position: relative;
}

.nav-logo {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 19px;
}

.ham{
    background: url('https://cdn-icons-png.flaticon.com/512/1946/1946433.png');
    width: 25px;
    height: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.ham.active {
    background: url();
    width: 25px;
    height: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
}